*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
#main{
    height: 100%;
    position: relative;
}
.allContentSpt {
    padding: 8px;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 1fr auto;  /* Cambia a dos filas y una fila para el footer */
    gap: 8px;
    height: 100%; /* Resta la altura del footer de la altura total de la ventana */
    max-height: 100%;
    grid-template-areas:
        "leftContent rightContent rightContent"
        "footers footers footers"; /* Asigna el footer a la última fila */
    position: relative;
}
    .leftContentSpt{
        display: flex;
        grid-area: leftContent;
        position: relative;
        flex-direction: column;
        width: 420px;
        min-height: 0;
        overflow-y: auto;
        height: 80%;
        
    }
        .navLeftContent{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
            .leftBox1{
                background-color: #121212;
                border-radius: 8px;
                
            }
                .listLeft1{
                    padding: 8px 12px;
                    margin: 0;
                }
                    .leftOne{
                        padding: 4px 12px;
                    }
                .contentLeftOne{
                    color: #b3b3b3;
                    display: flex;
                    gap: 20px;
                    height: 40px;
                    align-items: center;
                    cursor: pointer;
                    
                    &:hover{
                        
                            color: white;
                        
                    }
                }
                    .textLeftOne{
                        font-weight: 700;
                        font-size: 1rem;
                    }

.rightContentSpt {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 8px;
    grid-area: rightContent;
    position: relative;
    overflow-y: auto; /* Agrega barras de desplazamiento vertical si es necesario */
    height: 100%; /* Limita la altura del contenido al 100% del tamaño del contenedor */
    min-height: 0;
    overflow: auto;
}
.topBar{
        
    width: 100%;
    padding: 16px 24px;
    height: 64px;
    display: flex;
    gap: 8px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    position: absolute;
    contain: content;
    z-index: 1;
}
    .topBarBtns{
        display: flex;
        gap: 8px;  
    } 
        .rightbtnlr{
            border-radius: 50%;
            height: 32px;
            width: 32px;
            background-color: #000;
            border: 0;
            cursor: pointer;
        }
            .rightbtnlrcolor{
                color: #5f5f5f;
            }

    .topBarSrc{

        flex-grow: 1;
    }
        .topBarSrc2{
            display: flex;
            pointer-events: none;
            
        }
            .topBarSrc2>*{
                pointer-events: auto;
            }
                .barSearch{ 
                    position: relative;
                    flex: 0 1 364px;
                }
                    /*<form>*/
                        .inSearch1{
                            background-color: #242424;
                            border: 0;
                            border-radius: 500px;
                            box-sizing: border-box;
                            color: #fff;
                            font-size: 0.875rem;
                            height: 48px;
                            padding: 6px 36px;
                            width: 100%;
                            text-overflow: ellipsis;
                        }
                    .icSearch{
                        display: flex;
                        position: absolute;
                        left: 12px;
                        right: 12px;
                        top: 0;
                        bottom: 0;
                        align-items: center;
                        pointer-events: none;
                    }
                        .icSrcCss{
                            color: #ffffffaf;   
                        }
    .rightTopBar{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 8px;
    }
        .userBtn{
            background-color: rgba(0, 0, 0, .54);
            cursor: pointer;
            display: inline-flex;
            height: 32px;
            width: 32px;
            overflow-wrap: anywhere;
            border: 50%;
            font-weight: 700;
            padding: 0;
            border: 0;
            font-weight: 700;
            border-radius: 9999px;
            position: relative;
            align-items: center;
            justify-content: center;
            
        }
            .textUserBtn{
                background-color: rgb(80, 155, 245);
                color: rgb(0, 0, 0);
                line-height: 24px;
                border-radius: 50%;
                height: 24px ;
                width: 24px ;
                font-size: 0.875rem;
            }

            .userNotf{
                color: #ffffff9c;

                &:hover{
                    color: white ;
                    font-size: 18px;
                }
            }

/*main*/
.main-contain{
    position: relative;
    flex: 1;
    min-height: 0;
}
    .main-view-c{
        height: 100%;
        overflow-y:scroll;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        /*scrollbar-width: none !important;*/
        
    }
        .contain-main{
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            top: 0px;
            right: auto;
            left: 0px;
            width: calc(100% + 0px);
            padding: 0px;
            overflow-y: scroll;
            overflow: hidden;

            position: relative;
            flex: auto !important;
            
        }
            .spaceTopBar{
                height: 64px;
                position: sticky;
            }
        .main-height{
            min-height: calc(-673px + 100vh);
            scroll-behavior: smooth;
            isolation: isolate;
            padding-bottom: 32px;
        }
            .mainSpt{

            }
                /*.home-page*/
                .sptList{
                    display: flex;
                    flex-direction: column;
                    padding-top: 8px;  
                }
                    .sptListOne{
                        margin: 0;
                        display: flex;
                        padding: 0 24px;
                        flex-flow: row wrap;
                        gap: 24px;
                        max-width: 1955px;
                    }
                        .listOne
                        {
                            display: flex;
                            margin-bottom: 16px;
                            max-width: 100%;
                            flex-direction: column;
                            position: relative;
                            flex: 1 1 100%;
                            container-type: inline-size;
                        }
                        /*<div>*/
                            .headListOne{
                                display: flex;
                                
                            }
                                .leftHLO{
                                    display: block;
                                    min-width: 0;
                                    flex-grow: 1;
                                    line-height: normal;
                                }
                                    .TextLeftHLO{
                                        color: white;
                                        font-size: 1.5rem;
                                        font-weight: 700;
                                        margin-block: 0;

                                        &:hover{
                                            text-decoration: underline
                                        }
                                    }
                                .rightHLO{
                                    margin-left: 8px;
                                    margin-block-start: 2px;
                                }
                                    .spRightHLO{
                                        font-weight: 700;
                                        margin-block: 0;
                                        color: #b3b3b3;
                                        font-size: 0.875rem;

                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                        .contentListOne{
                            
                            margin-inline: -12px;
                            display: grid;
                            grid-gap: 0px;

                            grid-template-columns: repeat(7, minmax(0, 1fr));
                            
                            min-width: 360px;
                            content-visibility: auto;
                        }
                            .boxesListOne{
                                display: inline-flex;
                                flex-direction: column;
                                row-gap: 8px;
                                padding-block: 12px;
                                padding-inline: 12px;
                            }
                            /*.imgBoxLO*/
                                .pdIMGBLO{
                                    border-radius: 6px;
                                    overflow: hidden;
                                }
                                    .imgsPlayList img{
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                    }
                            .textBox1{
                                display: flex;
                                column-gap: var(12px, 12px);
                                align-content: center;
                            }
                                .contTextBox{
                                    display: flex;
                                    flex-direction: column;
                                }
                                    .textMix{

                                    }
                                        .tM1{
                                            color: #f3f3f3;
                                            margin: 0px;
                                        }
                                    .autorsMext{

                                    }
                                        .tA1{
                                            color: #919191;
                                            margin: 0px;
                                        }


.now-playing-bar{
    grid-area: footers;
    background-color: #121212;
    align-content: center;
    position: relative;
    height: 70px;
}
