*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
#main{
    height: 100%;
    position: relative;
}
.allContentSpt {
    padding: 8px;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 1fr auto;  /* Cambia a dos filas y una fila para el footer */
    gap: 8px;
    height: 100%; /* Resta la altura del footer de la altura total de la ventana */
    max-height: 100%;
    grid-template-areas:
        "leftContent rightContent rightContent"
        "footers footers footers"; /* Asigna el footer a la última fila */
    position: relative;
}
    .leftContentSpt{
        display: flex;
        grid-area: leftContent;
        position: relative;
        flex-direction: column;
        width: 420px;
        min-height: 0;
        overflow-y: auto;
        
    }
        .navLeftContent{
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;
        }
            .leftBox1{
                background-color: #121212;
                border-radius: 8px;
                cursor: default;
                overflow-x: hidden;
            }
                .listLeft1{
                    padding: 8px 12px;
                    margin: 0;
                }
                    .leftOne{
                        padding: 4px 12px;
                    }
                .contentLeftOne{
                    color: #b3b3b3;
                    display: flex;
                    gap: 20px;
                    height: 40px;
                    align-items: center;
                    cursor: pointer;
                    
                    &:hover{
                        
                            color: white;
                        
                    }
                }
                    .textLeftOne{
                        font-weight: 700;
                        font-size: 1rem;
                    }
            .leftBox2{
                display: flex;
                flex: 1;
                
            }
                .listLeft2{
                    display: flex;
                    padding-top: 0;
                    width: 100%;
                    flex-direction: column;
                    flex: 1;
                    min-height: 0;
                }
                    .biblioMenu{
                        display: flex;
                        gap: 8px;
                        padding: 8px 16px;
                        flex-direction: column;
                    }
                        .bMBttns{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            flex-direction: row;

                            /*flex-direction: row;*/
                        }
                            .bttnBiblio{
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                margin-inline-end: auto;
                            }
                                .bttnBiblioT{
                                    display: flex;
                                    height: 40px;
                                    justify-content: flex-start;
                                    min-block-size: 40px;
                                    padding: 4px 8px;
                                    cursor: pointer;
                                    flex-shrink: 0;
                                    max-width: 100%;
                                    align-items: center;

                                    box-sizing: border-box;
                                    background-color: transparent;
                                    font-size: 1rem;
                                    font-weight: 700;
                                    border: 0;
                                    color: #a7a7a7; 
                                    fill: #a7a7a7; 
                                }
                                    .textBiblio{
                                        width: 24px; 
                                        height: 24px;
                                    }.textBiblio2{
                                        width: 16px; 
                                        height: 16px; 
                                    }
                    .listBiblio{
                        height: 100%;
                        position: relative;
                    }
                        .boxListBiblio{
                            margin-right: 0px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            top: 0px;
                            right: auto;
                            left: 0px;
                            width: calc(100% + 0px);
                            padding: 0px; 
                        }
                            .contentBoxListB{
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                min-height: 100%;
                                padding: 0 8px 8px;
                            }
                                .contentTextBLB1{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-start;
                                    border-radius: 8px;
                                    
                                    background-color: #242424;
                                    gap: 20px;
                                    margin: 8px 0;
                                    padding: 16px 20px;   
                                }
                                    .textBLB1{
                                           display: flex;
                                           gap: 8px;
                                           flex-direction: column;
                                           color: #fff;
                                    }
                                        .cTBLB1{
                                            color: #fff;
                                            font-weight: 400;
                                        }
                                        .cTBLB1{
                                            font-size: 1rem;
                                        }
                                        .cTBLB2{
                                            font-size: 0.875rem;
                                            font-weight: 400;
                                        }
                                        .ed1-cTBLB1{
                                            font-weight: 700;
                                        }
                                    .contentButtonBLB1{
                                        align-self: flex-start;
                                    }
                                        .ButtonBLB1{
                                            font-size: 0.875rem;
                                            box-sizing: border-box;
                                            font-weight: 700;
                                            cursor: pointer;
                                            background-color: red;
                                            border: 0px;
                                            border-bottom-left-radius: 9999px;
                                                border-bottom-right-radius: 9999px;
                                                border-top-left-radius: 9999px;
                                                border-top-right-radius: 9999px;;
                                            padding: 0;
                                        }
                                            .cBLB1{
                                                align-items: center;
                                                box-sizing: border-box;
                                                position: relative;
                                                display: flex;
                                                background-color: white;
                                                border-bottom-left-radius: 9999px;
                                                border-bottom-right-radius: 9999px;
                                                border-top-left-radius: 9999px;
                                                border-top-right-radius: 9999px;
                                                padding: 4px 16px;
                                                min-block-size: 32px;

                                            }   

.rightContentSpt {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 8px;
    grid-area: rightContent;
    position: relative;
    overflow-y: auto; /* Agrega barras de desplazamiento vertical si es necesario */
    height: 100%; /* Limita la altura del contenido al 100% del tamaño del contenedor */
    min-height: 0;
    overflow: auto;
}


.now-playing-bar{
    grid-area: footers;
    background-color: #121212;
    align-content: center;
    position: relative;
    height: 70px;
}
